body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: white;
    background-size: cover;
    font-family: Cardo;
    color: cyan;
}
footer{
	font-family: Cardo;
}
img{
	align-content: right;
	width: 750px;
	height: 400px;
}

