
body{
	font-family: Lato;
}
li a{
	font-size: 20px;
	text-indent: 25px;
}

footer{
	border-radius: 40px;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}
