
body{
	
}
li a{
	font-size: 20px;
	text-indent: 25px;
}

footer{
	border-radius: 40px;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.b{
	text-align: center;
	text-decoration-color: red;
	font-size: 20px;
}
.vision{
	font-size: 25px;
	font-family: 'PT Serif', serif;
}
.contact{
	border: 3px solid blue;
	font-size: 20px;
	text-align: center;
}
.features{
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}