body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: white;
    background-size: cover;
    font-family: Cardo;
    color: cyan;
}


img{
	width: 500px;
	height: 500px;
	padding: 20px;
	float: right;
	margin: 0 auto;
	border: 2px solid blue;
}

hr{
		height: 2px;
		color: blue;
}

p{
	font-family: Cardo;
	font-size: 20px;
	letter-spacing: 150%;
	max-width: 45em;

}


