
.h{
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-style: i; */
    color: black;
}
.b{
    align-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}
.j{
    color: blanchedalmond;
}
.j:hover {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
a{
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    
}
.navbar-brand{
    margin-right: 3rem;
}
#check{
    padding-left: .2rem;
}
#mate{
    padding-left: 19rem;
    
}